/* pc  */

@media (min-width: 1024px) {
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* tablet and Mobile */
@media (max-width: 1023px) {
  #nav .subnav a{
    padding: 5px 12px;
  }

  .btn {
    padding: 15px 16px;
  }
  .contact-info{
    line-height: 2;
  }
  .contact-form .form-control {
    padding: 15px;
  }
  .socials-list {
    font-size: 48px;
  }
  #footer .socials-list a {
    margin: 0 8px;
  }
  #footer .coppyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* mobile */
@media (max-width: 739px) {
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav li:first-child {
    display: inline-block;
  }
  #nav .subnav {
    /* là giá trị mặc định kiểu bỏ đi positon */
    position: initial;
    background: #333;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav .subnav a {
    color: white;
    padding: 5px 40px;
  }
  #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
  }
  #nav .subnav li:first-child {
    display: block;
  }
  #header {
    overflow: hidden;
  }
  #header .search-btn .search-icon {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }

  #content .member-img {
    width: 60%;
  }
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }
  .contact-form {
    margin-top: 32px;

  }
  .s-mt-8 {
    margin-top: 8px;
  }
}
